.coupon-list {
  overflow: hidden;
  /* margin-bottom: 4000px; */
}
.coupon-list:last-of-type {
  padding-bottom: 40px;
}
.coupon-item {
  width: 710px;
  margin: 30px auto 0;
  position: relative;
  overflow: hidden;
  background-color: #ebebec;
  border-radius: 0 0 10px 10px;
}
.coupon-block {
  height: 190px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}
.coupon-block::before,.coupon-block::after {
  content: '';
  position: absolute;
  left: 196px;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  background-color: #f2f2f4;
}
.coupon-block::before {
  top: -14px;
}
.coupon-block::after {
  bottom: -14px;
}
.coupon-info {
  height: 100%;
  width: 520px;
}
.coupon-price {
  font-size: 72px;
  color: #eb5841;
  line-height: 190px;
  font-weight: bold;
  width: 210px;
  text-align: center;
  flex-shrink: 0;
  height: 100%;
}
.coupon-price-num {
  line-height: 190px;
}
.coupon-price span {
  font-size: 30px;
  font-weight: normal;
}
.coupon-price.coupon-icon {
  line-height: inherit;
}
.coupon-price.coupon-icon .coupon-price-num {
  height:112px;
  line-height: 94px;
  padding-top: 18px;
}
.coupon-icon-block {
  font-size: 24px;
  width: 120px;
  height: 40px;
  /*line-height: 40px;
  text-align: center;
  background-color: #ffa110;
  color: #fff;
  font-weight: bold;*/
  margin: 0 auto;
  /*border-radius: 20px 0 20px 0;*/
  display: flex;
}
.coupon-line {
  height: 76px;
  width: 0;
  flex-shrink: 0;
  border-right: 1.3px dashed #aaa;
}
.coupon-time {
  width: 30px;
  height: 76px;
  flex-grow: 1;
  font-size: 30px;
  color: #222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 25px;
}
.coupon-btn {
  width: 160px;
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
  text-align: center;
  font-size: 26px;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right,#eb5841,#f9856a);
}
.coupon-invalid .coupon-btn {
  background: #aaa;
}
.invalid-icon {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 170px;
  height: 170px;
}
.coupon-down {
  min-height: 60px;
  position: relative;
  font-size: 24px;
  color: #8f8f94;
  line-height: 60px;
  width: 710px;
  margin: 0 auto;
}
.toggle-box {
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  z-index: 6;
  padding: 0 30px;
}
.toggle-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 60px;
  z-index: 5;
}
.toggle-btn::after {
  content: '';
  position: absolute;
  right: 30px;
  top: 25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 11px 0 11px;
  border-color: #b8babf transparent transparent transparent;
}
.toggle-btn.toggle-btn-down {
  top: auto;
  bottom: 6px;
}
.toggle-btn.toggle-btn-down::after {
  transform: rotate(-180deg);
}
.coupon-detail {
  padding: 14px 30px 15px;
  line-height: 38px;
  color: #8f8f94;
  font-size: 22px;
}
.point-bg {
  line-height: 38px;
  white-space: pre-wrap;
  padding-left: 34px;
  background: url('../../src/assets/img/icon_08.png') repeat-y left 10px/17px 38px;
}


/* 已过期、已使用 */
.coupon-invalid .coupon-price {
  color: #222222;
}
.coupon-invalid .coupon-time,.coupon-invalid .coupon-time div {
  color: #8f8f94;
}
.coupon-invalid .coupon-icon-block {
  background-color: #aaa
}



