.nav-empty {
  height: 98px;
}
.nav-box {
  height: 98px;
  width: 100%;
  display: flex;
  position: fixed;
  left: 0;
  top: 46px;
  background-color: #fff;
  z-index: 89;
}
.nav-item {
  height: 100%;
  line-height: 98px;
  text-align: center;
  position: relative;
  color: #8f8f94;
  flex: 1;
}
.nav-item.cur {
  font-size: 34px;
  color: #222222;
  font-weight: bold;
}
.nav-item.cur::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 4px;
  background-color: #eb5841;
  z-index: 9;
  border-radius: 2px;
}