.app-body {
	background-color: #f2f2f4;
	font-size: 28px;
}

.cont-session {
	width: 710px;
	background-color: #fff;
	margin: 0 auto 30px;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}
/* 列表 */
.goods-session {
	padding: 40px 30px 0;
}
.order-list {
  padding: 30px 20px;
}
.order-item {
	padding: 0 30px;
  min-height: 370px;
  border-radius: 10px;
  overflow: hidden;
	background-color: #fff;
	margin: 0 auto 30px;
}
.order-header {
  height: 90px;
	display: flex;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
	margin-bottom: 30px;
}
.order-no {
  width: 480px;
  color: #8f8f94;
}
.order-status {
  text-align: right;
	width: 170px;
}
.order-goods-info {
  margin-bottom: 30px;
  min-height: 130px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.order-pic-block {
  width: 130px;
  height: 130px;
  display: flex;
  overflow: hidden;
  border-radius: 4px;
  overflow: hidden;
  background-color: #f4f4f4;
}
.order-info {
  width: 500px;
	flex-wrap: wrap;
}
.order-name-price,.order-sku-num,.order-action-session {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.order-name-price {
	width: 100%;
  height: 46px;
  color: #222222;
}
.order-name-price .order-price {
	display: flex;
	align-items: center;
	height: 100%;
	line-height: 46px;
}
.order-name-price .order-price img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.order-sku-num {
  height: 40px;
  color: #8f8f94;
	font-size: 24px;
}
.order-action-session {
	height: 40px;
	line-height: 30px;
	padding-top: 10px;
	font-size: 24px;
	color: #eb5841;
}
.order-buy-num {
	text-align: right;
	color: #8f8f94;
	font-size: 24px;
}
.order-action-text {
	display: flex;
	align-items: center;
}
.color-8f8f94 {
	color: #8f8f94;
}
.order-name,.order-sku {
  max-width: 340px;
}
.order-action-btn {
	width: 50px;
	height: 50px;
	padding: 10px;
	/*margin-top: -10px;*/
}
.order-goods-btn {
	width: 100%;
	height: 66px;
	margin-top: 16px;
	display: flex;
	justify-content: flex-end;
}

.order-footer {
	min-height: 92px;
	border-top: 1px solid #f0f0f0;
}
.order-total {
	height: 80px;
	text-align: right;
	padding-top: 15px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: #8f8f94;
	font-size: 24px;
}
.order-price-total {
	margin-left: 18px;
	display: flex;
	align-items: center;
}
.order-price-total span {
	font-weight: bold;
	color: #222222;
	font-size: 34px;
	display: flex;
	height: 100%;
	align-items: center;
	line-height: 80px;
}
.order-price-total span img {
	width: 28px;
  height: 28px;
  margin: 0 8px 0 10px;
}
.order-btn-box {
	padding-bottom: 30px;
	display: flex;
	justify-content: flex-end;
}
.order-border-btn {
	height: 66px;
	min-width: 158px;
	border-radius: 6px;
	border: 1.3px solid #aaa;
	padding: 0 20px;
	display: flex;
	align-items: center;
	color: #8f8f94;
	margin-left: 20px;
}
.paid-btn {
	border-width: 0;
	background-color: #eb5841;
	color: #fff;
	font-size: 26px;
}
.paid-btn .van-count-down {
	color: #fff;
	font-size: 26px;
}
	
.toggle-btn {
	height: 66px;
	margin-top: -30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.toggle-btn.btn-up img {
	transform: rotate(180deg);
}
.toggle-btn img {
	width: 22px;
	height: 13px;
}
.toggle-up {
	display: none;
}
.toggle-up.toggle-down {
	display: flex;
}


/* 订单详情 */
.order-session {
	position: relative;
	padding: 0 20px;
}
.order-header-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 280px;
	background-image: linear-gradient(to right, #f9866b, #eb5841);
}
.order-status-session {
	height: 174px;
	text-align: center;
	padding-top: 26px;
	position: relative;
	z-index: 6;
}
.order-status-name {
	line-height: 66px;
	font-size: 38px;
	font-weight: bold;
	color: #fefefe;
}
.order-status-tip {
	line-height: 56px;
	font-size: 28px;
	color: #fefefe;
}
.order-status-tip .van-count-down {
	display: inline;
	color: #fff;
	font-size: 26px;
}
  /* 订单价格信息 */
.detail-price-list {
	padding: 16px 0;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
}
.detail-price-item {
	display: flex;
	justify-content: space-between;
	height: 52px;
	align-items: center;
	font-size: 24px;
	color: #222;
}
.detail-price-item > div:last-child {
	display: flex;
	height: 100%;
	align-items: center;
	line-height: 52px;
}
.detail-price-item > div:last-child img {
	width: 28px;
  height: 28px;
  margin-right: 8px;
}
.flex-sart-item {
	display: flex;
	height: 52px;
	align-items: center;
}
.flex-sart-item-left {
	width: 146px;
}
.order-total-detail {
	height: 90px;
	padding-top: 0;
}

  /* 收货地址 */
.address-logistics,.order-remarks {
	padding: 0 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.address-logistics {
	padding: 26px 30px;
}
.shipping-logistics {
	margin-top: 26px;
	padding-top: 26px;
	border-top: 1.4px solid #f0f0f0;
}
.shipping-address-item,.order-remarks-item,.order-message-item {
	display: flex;
	height: 52px;
	align-items: center;
	position: relative;
}
.order-remarks-item .order-remarks-text,
.order-remarks-item .order-remarks-item-left {
	color: #222;
	line-height: 52px;
}
.shipping-logistics-item {
	display: flex;
	align-items: center;
}
.shipping-address-item-left,.order-remarks-item-left,.order-message-item-left {
	width: 146px;
}
.shipping-address-item-right,.order-remarks-item-right,.order-message-item-right {
	display: flex;
	width: 504px;
}
.shipping-address-username {
	max-width: 280px;
	margin-right: 20px;
}
.shipping-address-text {
	font-size: 24px;
}
.shipping-address-text,.order-remarks-text {
	max-width: 504px;
	color: #8f8f94;
}
.shipping-logistics-item-right {
	position: relative;
	padding-left: 36px;
}
.shipping-address-icon {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -13px;
	width: 16px;
	height: 26px;
}
.shipping-logistics-point {
	position: absolute;
	top: 16px;
	left: 8px;
	width: 8px;
	height: 8px;
	background-color: #aaa;
	border-radius: 4px;
}
.shipping-logistics-line {
	position: absolute;
	top: 34px;
	bottom: 10px;
	left: 11px;
	width: 2px;
	height: 36px;
	background-color: #aaa;
	border-radius: 4px;
}
.shipping-logistics-text {
	line-height: 40px;
	flex-wrap: wrap;
	width: 466px;
	color: #8f8f94;
	font-size: 24px;
}
.order-remarks {
	min-height: 120px;
}
.order-remarks .order-remarks-item {
	height: auto;
	align-items: flex-start;
	padding: 26px 30px;
}
   /* 订单信息 */
.order-message {
	padding: 26px 30px;
	align-items: center;
	justify-content: center;
}
.order-message-item {
	height: 56px;
	position: relative;
}
.order-tip-item {
	width: 650px;
	display: flex;
	position: relative;
	justify-content: flex-start;
	align-items: flex-start;
}
.order-tip-item-left {
	width: 146px;
}
.order-tip-item-right {
	width: 466px;
}
.order-tip-text {
	line-height: 56px;
}
.van-icon.tip-icon {
	position: absolute;
	right: 0;
	height: 100%;
	line-height: 56px;
}
.copy-btn {
	position: absolute;
	right: -10px;
	top: 0;
	padding: 10px;
}
.copy-text {
	height: 32px;
	line-height: 28px;
	width: 58px;
	color: #ffa110;
	font-size: 22px;
	text-align: center;
	border: 2px solid #ffa110;
}
  /* 底部按钮 */
.fixed-empty {
	/*height: 150px;*/
	height: 120px;
}
.btn-fixed-buttom {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 120px;
	padding-right: 20px;
	align-items: center;
	display: flex;
	justify-content: flex-end;
	border-top: 1px solid #f0f0f0;
	background-color: #fff;
}


.order-bar .van-nav-bar__right .nav-serve {
	height: 100%;
	width: 100%;
	padding: 0 10px 0 20px;
	display: flex;
	align-items: center;
}
.order-bar .van-nav-bar__right .nav-serve img {
	width: 44px;
	height: 44px;
}

