// Color Palette
@black: #000;
@white: #fff;
@gray-1: #f8f8f8;
@gray-2: #f0f0f0; // 分割线
@gray-3: #ebedf0;
@gray-4: #dcdee0;
@gray-5: #c8c7cc;
@gray-6: #aaa;
@gray-7: #8F8F94; // text-grey
@gray-8: #383838;
@red: #f9866b;
@red-dark: #eb5841;
@blue: #019aff;
@blue-dark: #448fe4;
@orange: #ffc017;
@orange-dark: #ffa110;
@orange-light: #fffbe8;
@green: #55ff7f;
@green-dark: #55b862;
@primary: @red-dark;

// Gradient Colors
@gradient-red: linear-gradient(to right, @red, @red-dark);
@gradient-orange: linear-gradient(to right, @orange, @orange-dark);

// Component Colors
@text-color: #222;
@active-color: #222;
@active-opacity: 0.7;
@disabled-opacity: 0.5;
@background-color: #f2f2f4;
@background-color-light: #fff;
@text-link-color: #576b95;

// Padding
@padding-base: 5px;
@padding-xs: @padding-base * 2;
@padding-sm: @padding-base * 3;
@padding-md: @padding-base * 4;
@padding-lg: @padding-base * 6;
@padding-xl: @padding-base * 8;

// Font
@font-size-xs: 10px;
@font-size-sm: 22px;
@font-size-md: 28px;
@font-size-lg: 30px;
@font-weight-bold: 500;
@base-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
  Helvetica, Segoe UI, Arial, Roboto, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft Yahei', sans-serif;
@price-integer-font-family: Avenir-Heavy, PingFang SC, Helvetica Neue, Arial,
  sans-serif;

// Animation
@animation-duration-base: 0.3s;
@animation-duration-fast: 0.2s;
@animation-timing-function-enter: ease-out;
@animation-timing-function-leave: ease-in;

// Border
@border-color: @gray-5;
@border-width-base: 2px;
@border-radius-sm: 6px;
@border-radius-md: 10px;
@border-radius-lg: 16px;
@border-radius-max: 999px;

@divider-color: @gray-2;

// Tabbar
@tabbar-height: 98px;
@tabbar-z-index: 1;
@tabbar-background-color: @white;

// TabbarItem
@tabbar-item-font-size: @font-size-sm;
@tabbar-item-text-color: @gray-7;
@tabbar-item-active-color: @primary;
@tabbar-item-line-height: 1;
@tabbar-item-icon-size: 36px;
@tabbar-item-margin-bottom: 10px;

// NavBar
@nav-bar-height: 88px;
@nav-bar-background-color: @white;
@nav-bar-arrow-size: 30px;
@nav-bar-icon-color: @gray-8;
@nav-bar-text-color: @gray-8;
@nav-bar-title-font-size: 34px;
@nav-bar-title-text-color: @text-color;
@nav-bar-z-index: 1;

// Button
@button-mini-height: 48px;
@button-mini-font-size: @font-size-xs;
@button-small-height: 64px;
@button-small-font-size: @font-size-sm;
@button-normal-font-size: @font-size-md;
@button-large-height: 100px;
@button-default-height: 88px;
@button-default-line-height: 1.2;
@button-default-font-size: @font-size-lg;
@button-default-color: @text-color;
@button-default-background-color: @white;
@button-default-border-color: @border-color;
@button-primary-color: @white;
@button-primary-background-color: @green;
@button-primary-border-color: @green;
@button-info-color: @white;
@button-info-background-color: @blue;
@button-info-border-color: @blue;
@button-danger-color: @white;
@button-danger-background-color: @red;
@button-danger-border-color: @red;
@button-warning-color: @white;
@button-warning-background-color: @orange;
@button-warning-border-color: @orange;
@button-border-width: @border-width-base;
@button-border-radius: @border-radius-sm;
@button-round-border-radius: @border-radius-max;
@button-plain-background-color: @white;
@button-disabled-opacity: @disabled-opacity;

// Search
@search-padding: @padding-md;
@search-background-color: @white;
@search-content-background-color: @background-color;
@search-input-height: 24px;
@search-label-padding: 0 5px;
@search-label-color: @text-color;
@search-label-font-size: @font-size-md;
@search-left-icon-color: @gray-6;
@search-action-padding: 0 @padding-xs;
@search-action-text-color: @text-color;
@search-action-font-size: @font-size-md;

// Collapse
@collapse-item-transition-duration: @animation-duration-base;
@collapse-item-content-padding: @padding-sm @padding-md;
@collapse-item-content-font-size: 14px;
@collapse-item-content-line-height: 1.5;
@collapse-item-content-text-color: @gray-6;
@collapse-item-content-background-color: @white;
@collapse-item-title-disabled-color: @gray-5;

// Picker
@picker-background-color: @white;
@picker-toolbar-height: 88px;
@picker-title-font-size: @font-size-lg;
@picker-title-line-height: 88px;
@picker-action-padding: 0 @padding-md;
@picker-action-font-size: @font-size-md;
@picker-confirm-action-color: @text-link-color;
@picker-cancel-action-color: @gray-6;
@picker-option-font-size: @font-size-lg;
@picker-option-text-color: @black;
@picker-option-disabled-opacity: 0.3;
@picker-loading-icon-color: @blue;
@picker-loading-mask-color: rgba(255, 255, 255, 0.9);


// Tab
@tab-text-color: @gray-7;
@tab-active-text-color: @text-color;
@tab-disabled-text-color: @gray-5;
@tab-font-size: @font-size-md;

// Tabs
@tabs-default-color: @red;
@tabs-line-height: 98px;
@tabs-card-height: 30px;
@tabs-nav-background-color: @white;
@tabs-bottom-bar-height: 4px;
@tabs-bottom-bar-color: @tabs-default-color;

@flex: {
  display: flex
}

@flex-column: {
  @flex();
  flex-direction: column;
}

@flex-column-between: {
  @flex-column();
  justify-content: space-between;
}

@flex-column-around: {
  @flex-column();
  justify-content: space-around;
}

@text-ellipsis : {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}