<widget id="A6040369256280" version="1.0.0">

	<name>美好生活家园</name>

	<description>

        美好生活家园以更好服务业主用户为目标，逐步完善实现互联网+智慧城镇，人人安居乐业的幸福家园。

	</description>

	<author email="" href="">

        福建线下信息科技有限公司

	</author>

	<content src="index.html" />

	<access origin="*" />
	
	<!-- 百度文字识别 -->
	<feature name="baiduIdentifyOCR">
		<param name="APIKey" value="fn4urDbi8kHPqX3oZhDr5fgu"/>
		<param name="SecretKey" value="FN6dGMDzFh5Gqx1YIa99QO3p65pMN4mK"/>
  </feature>

	<!-- wxPlus -->
	<feature name="wxPlus">
		<param name="urlScheme" value="wx7245d2cb43a093db"/>
		<param name="apiKey" value="wx7245d2cb43a093db"/>
		<param name="apiSecret" value="AppSecret:4dabc3fd50b31a55129a7437248f5343"/>
		<param name="universalLink" value="https://live.tosolomo.com"/>
	</feature>

	<!-- wxPayPlus -->
	<feature name="wxPayPlus">
		<param name="urlScheme" value="wx7245d2cb43a093db"/>
		<param name="apiKey" value="wx7245d2cb43a093db"/>
		<param name="apiSecret" value="AppSecret:4dabc3fd50b31a55129a7437248f5343"/>
		<param name="universalLink" value="https://live.tosolomo.com"/>
	</feature>

	<!-- 支付宝支付 -->
	<feature name="aliPayPlus">
      <param name="urlScheme" value="AliPayPlusA6040369256280" />
  </feature>

	<!-- 极光推送 -->
	<feature name="ajpush">
		<param name="app_key" value="717f513d82146e4e6a8c0525" />
		<param name="channel" value="qihu360" />
	</feature>
    
  <!-- 百度地图 -->
	<feature name="bMap">
	  <param name="android_api_key" value="47KitjRYLxTg4q8KpCefbyk25y94IPgP" />
	  <param name="ios_api_key" value="Zdxxje3lV7LRRy4WNvNjprZ3xIDoSbs1" />
	</feature>

	<!-- 腾讯统计 -->
	<feature name="txAnalysis">
		<param name="appKey_iOS" value="IU2YSN8A4R4I"/>
		<param name="appKey_android" value="AV5571MSZPWZ"/>
	</feature>

	<!-- 配置可被检测的URL Scheme -->
	<preference name="querySchemes" value="baidumap,qqmap,http://maps.apple.com,iosamap" />

	<!-- window.navigation.userAgent追加标识,识别环境。 -->

	<preference name="urlScheme" value="mhshjyscheme" />

	<preference name="userAgent" value="APICloud" />

	<preference name="pageBounce" value="false"/>

	<preference name="appBackground" value="#ffffff"/>

	<preference name="windowBackground" value="#ffffff"/>

	<preference name="frameBackgroundColor" value="#ffffff"/>

	<preference name="hScrollBarEnabled" value="false"/>

	<preference name="vScrollBarEnabled" value="false"/>

	<preference name="autoLaunch" value="true"/>

	<preference name="fullScreen" value="false"/>

	<preference name="autoUpdate" value="false" />

	<preference name="smartUpdate" value="true" />

	<preference name="debug" value="false"/>

	<preference name="statusBarAppearance" value="true"/>

	<permission name="readPhoneState" />

	<permission name="camera" />

	<permission name="record" />

	<permission name="location" />

	<permission name="fileSystem" />

	<permission name="internet" />

	<permission name="bootCompleted" />

	<permission name="hardware" />

	<preference name="softInputMode" value="resize"/>  

	<preference name="useWKWebView" value="true"/>

	<preference name="WKWebViewRecoveryMode" value="rebootApp"/>

	<preference name="android_abi" value="arm64-v8a"/>

</widget>

